<p>
    Dear <%= @lgn.user.get_name_or_email %>,
</p>
<p>
    Your temporary Rasoi Club password has been generated.<br />
    <label class="labelcol">Primary Email Id: <%= @lgn.user_name -%> </label><br />
    <label class="labelcol">Password: <%= @lgn.password -%> </label><br />
    Please reset your password on login.
</p>
<p>
    <br />
    Regards,<br />
    Rasoi Club Support<br />
    www.rasoiclub.com<br />
    A product of Online Rasoi Pvt. Ltd.<br /><br />
    This is a system auto generated email. Please do not reply.
</p>