<p>
	Dear <%= "#{@kitchen.primary_contact_name.capitalize} #{@kitchen.last_name.capitalize}" %>,
</p>
<p>
	Unfortunately your kitchen "<%= @kitchen.kitchen_name %>" has failed activation process.<br /> Please log in 'www.RasoiClub.com' to understand the reason.<br />
	Please contact Rasoi Club operations team at operations@rasoiclub.com or call 98817-37978.
</p>
<p>
	<br />
	Regards,<br />
	Rasoi Club Operations Team<br />
	www.rasoiclub.com<br /><br />
	This is a system generated mail. Please do not reply.
</p>
