<p>
    Dear <%= @lgn.user.get_name_or_email %>!
</p>
<p>
    Your temporary password has been generated.<br />
    <label class="labelcol">Password: <%= @lgn.password %></label><br />
    Please change your password on first login.
</p>
<p>
    <br />
    Regards,<br />
    Rasoi Club Support<br />
    www.rasoiclub.com<br />
    A product of Online Rasoi Pvt. Ltd.<br /><br />
    This is a system auto generated email. Please do not reply.
</p>
