// Place all the styles related to the Addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.addressbox {
  //border: 1px solid black; 
  width:300px; 
  height: auto;//250px; 
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 5px;
}

.divonhover{
  -moz-box-shadow: 1px 1px 4px #AAA; 
  -webkit-box-shadow: 1px 1px 4px #AAA; 
  box-shadow: 1px 1px 6px #AAA;
  border-bottom-right-radius: 10px;
}