<table width="100%" border="0" cellspacing="0" cellpadding="2">
	<tr>
		<td>
			<%= check_box_tag VEG, VEG, (advance_options.present? && (advance_options[:veg_non_veg].include? true) ? true : false), {:style => "margin: -3px 5px 0 0;"} %>Vegetarian Dishes
		</td>
		<td>
			<%= check_box_tag NON_VEG, NON_VEG, (advance_options.present? && (advance_options[:veg_non_veg].include? false) ? true : false), {:style => "margin: -3px 5px 0 0;"} %>Non-Veg. Dishes
		</td>
		<td>&nbsp;
		</td>
	</tr>
</table>